<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logoimg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoimg"
        android:supportsRtl="true"
        android:theme="@style/Theme.EntertainmentApp"
        tools:targetApi="31">
        <activity
            android:name=".Ui.ActivtyPlayer"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Ui.ActivityOnDramaClick"
            android:exported="false" />
        <activity
            android:name=".Ui.ActivityEditProfile"
            android:exported="false" />
        <activity
            android:name=".Ui.ActivityNotification"
            android:exported="false" />
        <activity
            android:name=".Ui.ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".Ui.ActivitySignUp"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.ActivityUserChoice"
            android:exported="false" />
        <activity
            android:name=".Ui.ActivitySplash"
            android:exported="true" />
        <activity
            android:name=".Ui.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>